#centerTopBar{
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 1px solid red;
    background-color: #282828;
    color: white;
    font-family: 'Asap', sans-serif;
}
#centerTopWrapper{
    position: absolute;
    height: 20px;
    width: 440px;
    left:50%;
    top:5px;
    transform: translateX(-50%);
    top: 13px;
    
    
}
.centerTopBarContent{
    float:left;
    height: 20px;
    width: 88px;
    text-align: center;
    transition-duration: 0.5s;
    color: grey;

}
.centerTopBarContent:hover{
    color:red;
    cursor: pointer;
}

input{
    width: 50px;
}

#centerSideContent{
    position: relative;
/*    border:2px solid green;*/
    height: calc(100% - 50px);
    width: 100%;
    background-color: #232222;
    color: white;
    float:left;
    overflow-y: auto;
    
}

@media only screen and (min-width: 1420px) {
    #centerSideContent{
        width: 70%;
    }
}

.centerSideContentWrapper{
    position: relative;
    width: 100%;
    height: 300px;
}
#contentTitleOuterWrapper{
    position: relative;
    float:left;
    height: 100%;
    width: 75%;
}
#contentTitle{
    position: relative;
    width: 100%;
    height: auto;
}

#contentTitleWrapper{
    position: relative;
    font-family: 'Work Sans', sans-serif;
    font-weight: bold;
    top:4px;
    width: 97.3%;
    margin-left: 10px;
    border-bottom: 1px solid grey;

}