#right{
    position: relative;
    height: calc(100% - 50px);
/*    border: 2px solid blue;*/
    width: 30%;
    float:left;
    background-color: #1c1c1c;
/*
    background-color: -webkit-linear-gradient(red, yellow);
    background-color: -moz-linear-gradient(red, yellow);
    background-color: linear-gradient(red, yellow);
*/
    border-left:1px solid red;
    color:white;
    display: none;
}

@media only screen and (min-width: 1420px) {
    #right{
        display: block;
    }
    
}

#rightTopWrapper{
    position: relative;
    width: 100%;
    height: 150px;
    background-color: black;
}

.buttonStyle1{
    position: relative;
    background-color: transparent;
    color: white;
    width: 100px;
    height: 40px;
    border-radius: 25px;
    transition-duration: 0.5s;
}

.buttonStyle1:hover{
    background-color: darkred;
    cursor: pointer;
}

#findFriendsButton{
    top:75px;
    left:50%;
    transform: translateX(-50%);
}

#findFriendsText{
        position: relative;
    top:50px;
    left:50%;
    transform: translateX(-50%);
    text-align: center;
    font-size: 20px;
    font-family: 'Passion One', sans-serif;
    
}

#rightBottomWrapper{
    position: relative;
    width: 100%;
    height: calc(100% - 150px);
/*    border: 2px solid blue;*/
    padding-top:10px;
    
}
.FSContent{
    position: relative;
    width: 100%;
    height: 100px;
/*    border: 2px solid red;*/
    font-family: 'Archivo Black', sans-serif;
    font-size: 13px;
    color:grey;
}
.FSFriendName{
    font-size: 15px;
    color:white;
    margin-bottom: 10px;
    margin-top: 5px;
}

.FSImage{
    position: relative;
    width: 20%;
    height: 100%;
    float:left;
    
}

.FSImageInner{
    position: relative;
    width: 50px;
    height: 50px;
    border: 2px solid grey;
    border-radius: 50%;
    top:20%;
    left:50%;
    transform: translateX(-50%);
    background-size: 50px;
    background-repeat: no-repeat;
}

.FSSongDetails{
    position: relative;
    width: 65%;
    height: 100%;
    float:left;
    font-variant: small-caps;
}

.FSInnerContent{
    line-height: 
}

.FSPlaySong{
    position: relative;
    width: 50px;
    height: 50px;
    float:left;
    top:20%;
    right:10px;
}